/* .container {
	margin: 0 auto;
} */

td {
	cursor: pointer;
}

.editor {
	display: none;
}

/* 
.edit {
	width: 100%;
	height: 25px;
} */
/* 
.editMode {
	border: 1px solid black;

} */

/* 
.txtedit {
	display: none;
	width: 99%;
	height: 30px;
} */

/* Table Layout */
/* table {
    border:3px solid lavender;
    border-radius:3px;
}

table tr:nth-child(1){
    background-color:dodgerblue;
}
table tr:nth-child(1) th{
    color:white;
    padding:10px 0px;
    letter-spacing: 1px;
} */

/* Table rows and columns */
/* table td{
    padding:10px;
}
table tr:nth-child(even){
    background-color:lavender;
    color:black;
} */
